
body {
  background: #f4f4f4;
}

.banner {
  background: rgb(26,60,222);
  background: linear-gradient(128deg, rgba(26,60,222,1) 0%, rgba(161,113,191,1) 47%, rgba(245,212,143,1) 100%);
  border-radius: 50%;
}
