{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block head %}
{{super()}}
<link href="{{ url_for('static', path='/css/bootstrap.min.home.css') }}" rel="stylesheet">


{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
<style media="screen">
  hr.star-light{max-width:15rem;padding:0;text-align:center;border:none;border-top:.25rem solid;margin-top:2.5rem;margin-bottom:2.5rem}
  hr.star-light:after{background-color:#2c3e50!important;position:relative;top:-.8em;display:inline-block;padding:0 .25em;content:"\f1c9";font-family:FontAwesome;font-size:2em}
</style>
<header style="padding-top:30px;height:calc(100vh - 56px)" class="masthead bg-secondary text-white text-center">
    <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="{{url_for('static',path='/images/profile.png')}}">
        <h1>About</h1>
        <hr class="star-light ">
        <h2 class="font-weight-light mb-0">Fullstack developer - Web Designer - Digital Artist</h2>
    </div>
</header>



{% endblock %}



{% block scripts %}

<script>
  var goFS = document.getElementByClass("fs");
  goFS.addEventListener("click", function() {
      document.body.requestFullscreen();
  }, false);

  function toggleFullScreen() {
  var doc = window.document;
  var docEl = doc.documentElement;

  var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
  var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

  if(!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
    requestFullScreen.call(docEl);
  }
  else {
    cancelFullScreen.call(doc);
  }
}

</script>
<script src="{{url_for('static',path='/js/freelancer.js')}}" charset="utf-8"></script>

{{ super() }}


{% endblock %}
