{% extends "base.html" %}
{% set active_page = "gallery" %}

{% block title %}Contact{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',path='css/contact.css')}}">
<link href="{{ url_for('static', path='/css/bootstrap.min.home.css') }}" rel="stylesheet">


{% endblock %}

{% block page_content %}
{% if success %}
	<div id="successmsg " class="alert alert-success alert-dismissible fade show m-0 py-2" style='' role="alert">
		<strong>IT'S ALIVE!</strong> You dont have to worry now, I'll get in touch with you as soon as possible.
			<button type="button" class="close m-0 p-0" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
</div>
<script type="text/javascript">
  setTimeout(function(){
  if ($('#successmsg').length > 0) {
    $('#successmsg').fadeOut(100);
  }
}, 8000)




</script>


{% endif %}

<div class="contact-clean" style="background-color: #646464;">
    <form action="/contact/send" method="post">
        <h2 class="text-center" style="filter: contrast(200%) saturate(0%);">Contact me</h2>
        <!-- Start: Success Example -->

        <div class="form-group"><input class="form-control" type="text" name="name" required="" placeholder="Name"></div>
        <!-- End: Success Example -->
        <!-- Start: Error Example -->
        <div class="form-group"><input class="form-control " type="email" name="email" required="" placeholder="Email" >


        </div>
        <!-- End: Error Example -->
        <div class="form-group"><textarea class="form-control" rows="14" name="message" placeholder="Message"></textarea></div>
        <div class="form-group">
					<button style='color:#fff;background-color:#343a40;border-color:#343a40;border:solid 2px #343a40' class="btn btn-dark btn-lg btn-block border-white" type="submit" >send </button></div>
    </form>
</div>
<!-- End: Contact Form Clean -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<script src="{{url_for('static',path='/js/smart-forms.min.js')}}"></script>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static',path='/js/forms.min.js')}}" charset="utf-8"></script>
{% endblock %}
