{% extends "base.html" %}
{% set active_page = "gallery" %}

{% block title %}Contact{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',path='css/contact.css')}}">

{% endblock %}

{% block page_content %}

{% if success %}
{# if sending message is successful it returns popuo that disapears in 8 seconds #}
<div id="successmsg" style="position:absolute;z-index:999;" class="card shadow border-successs">
    <div class="card-body">
        <div class="no-gutters">
            <div class="col mr-2">
                <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Success</span></div>
                <hr class="success">
                <div class="text-dark text-xxs font-weight-thin h5 mb-0"><span>Success, your message has been sent</span></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  setTimeout(function(){
  if ($('#successmsg').length > 0) {
    $('#successmsg').fadeOut(100);
  }
}, 8000)




</script>

{% elif not success%}
{# if sending message is successful it returns popuo that disapears in 8 seconds #}
<div id="successmsg" style="position:absolute;z-index:999;" class="card shadow border-successs">
    <div class="card-body">
        <div class="no-gutters">
            <div class="col mr-2">
                <div class="text-uppercase text-danger font-weight-bold text-xs mb-1"><span>Warning</span></div>
                <hr class="success">
                <div class="text-dark text-xxs font-weight-thin h5 mb-0"><span>Your message has not been sent.<br>There was error in server try again later.</span></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  setTimeout(function(){
  if ($('#successmsg').length > 0) {
    $('#successmsg').fadeOut(100);
  }
}, 8000)




</script>


{% endif %}


<div class="contact-clean" style="background-color: #f4f4f4;">
    <form action="/contact" method="post">
        <h2 class="text-center" style="filter: contrast(200%) saturate(0%);">Contact me</h2>
        <!-- Start: Success Example -->

        <div class="form-group"><input class="form-control" type="text" name="name" required="" placeholder="Name"></div>
        <!-- End: Success Example -->
        <!-- Start: Error Example -->
        <div class="form-group"><input class="form-control " type="email" name="email" required="" placeholder="Email" >


        </div>
        <!-- End: Error Example -->
        <div class="form-group"><textarea class="form-control" rows="14" name="message" placeholder="Message"></textarea></div>
        <div class="form-group"><button class="btn btn-primary" type="submit" style="filter: brightness(72%) contrast(200%) saturate(0%);">send </button></div>
    </form>
</div>
<!-- End: Contact Form Clean -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/smart-forms.min.js"></script>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static',path='/js/forms.min.js')}}" charset="utf-8"></script>
{% endblock %}
