{% extends "base.html" %}


{% block title %}Details{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<style media="screen">
  #content{
    background-color:#6c757d!important;
    color:white;
  }
  #content p{color:white}
  .desc{justify-content:space-evenly}
</style>
<!-- Page Content -->

<div class="container">
  <a href="/portfolio"><button type="button" class="btn btn-dark btn-lg  my-2 border-white" name="button">Go back </button></a>

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{title}}
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{url_for('static',path=img)}}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p>{{desc}}</p>
      <h3 class="my-3">Project Features</h3>
      <ul>
      {% for feature in features%}
        <li>{{feature}}</li>
    {% endfor %}
      </ul>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->


</div>
<!-- /.container -->

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
